<p id="notice"><%= notice %></p>
<%= @receipt.name %><br>
<%= image_tag @receipt.image_url %><br>
<%= link_to '更新', edit_admin_receipt_path(@receipt), class: "btn btn-mini btn-primary" %> |
<%= link_to '戻る', admin_receipts_path, class: "btn btn-mini btn-primary" %>
