<h1>本購入リクエスト一覧</h1>

<div class="request-btn">
<%= link_to '新規リクエスト', new_purchase_request_path, class: "btn btn-primary" %></div>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>申請日</th>
      <th>申請者</th>
      <th>画像</th>
      <th>ISBNコード</th>
      <th>タイトル</th>
    </tr>
  </thead>

  <tbody style="border 1">
    <% @purchase_requests.each do |purchase_request| %>
      <tr>
        <td><%= purchase_request.id %></td>
        <td><%= l purchase_request.created_at %></td>
        <td><%= purchase_request.user.name %></td>
        <td><%= link_to image_tag(purchase_request.m_book.book_image_path), "http://www.amazon.co.jp/dp/" + purchase_request.m_book.isbn, target: ["_blank"] %></td>
        <td><%= purchase_request.m_book.isbn %></td>
        <td><%= purchase_request.m_book.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>