<!DOCTYPE html>
<html>
<head>
  <title>Book2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
    <header class="navbar navbar-fixed-top navbar-inverse">
      <% if user_signed_in? %>
      <i class="fa fa-bars fa-3x dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Left Align" aria-hidden="true"></i>
      <ul class="dropdown-menu">
        <li class="nav-li"><%= link_to "本購入リクエスト", purchase_requests_path %></li>
        <li class="nav-li"><%= link_to "社内の本一覧", products_path %></li>
        <li class="nav-li"><%= link_to "ユーザーの本一覧", products_path(user_id: current_user.id) %></li>
        <% if current_user.admin? %>
          <li role="separator" class="divider"></li>
          <li class="nav-li"><%= link_to "領収書管理", admin_receipts_path %></li>
          <li class="nav-li"><%= link_to "拠点管理", admin_m_branches_path %></li>
          <li class="nav-li"><%= link_to "本マスター管理", admin_m_books_path %></li>
        <% end %>
      </ul>
      <% end %>
        <%= link_to image_tag("logo.png"), root_path, class: 'img-rounded logo' %>
        <ul class="nav navbar-nav pull-right">
          <% if user_signed_in? %>
          <li>
            <a class="navbar-brand" href="https://github.com/">
              <%= image_tag current_user.thumbnail_image, class: 'img-rounded' %>
            </a>
          <li>
          <li>
            <%= link_to current_user.show_name, user_path(current_user.id) %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
          <% else %>
          <li>
            <%= link_to "ログイン", user_omniauth_authorize_path(:github) %>
          </li>
          <% end %>
        </ul>
      </div>
    </header>

    <% if flash[:notice] %>
      <p class="alert alert-info"><%= flash[:notice] %></p>
    <% end %>

      <div class="row">
        <div class="col-md-10 col-md-offset-1 ">
          <%= yield %>
          <footer class="footer">
            <p class="text-muted text-right">© Framgia, Inc. All Rights Reserved.</p>
          </footer>
        </div>
      </div>
  </div>
</body>
</html>
